.user-info{


}

.user-info h1{
  font-size:2em;
  text-align:center;
}

.user-info span{
  color:#799351 ;
}

.user-level{
  text-align:center;
  display:flex;
  justify-content: center;
  padding:0 !important;
  align-items:strech;
}

.user-level-badge{

}

.user-level-badge img{
  width: 60px;
  margin-bottom: 10px;
}

.user-level-bar{
  text-align:center;
}

.user-level-bar h4{
  font-size:1.5em;
}

.user-level-count, .user-level-badge{
  text-align:center;
  background: white;
  border:solid 1px #ccc;
  padding:0.5em ;
  border-radius:1em;
}

.user-level-count p{
  width:100px;
  margin:0 auto;
}

.user-level-count-total{
  font-size: 5em;
  color: #FFA36C;
  font-weight: bolder;
  height: 95px;
  line-height: 1.3em;
}

.user-level-count span{
  color:#FFA36C;
}

/* mission section styling */

@media (min-width: 100px) and (max-width: 575px) {
  .section-heading{
    font-size:1.3em;
    text-align:center;
  }

  .dashboard .mission-title{
    font-size:1.1em;
    color:#799351;
    font-weight:bold;
  }

  .dashboard-container .list-group{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
     -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  @keyframes fadein {
      from { opacity: 0; transform: translateY(-20px);}
      to   { opacity: 1; transform: translateY(0px);}
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; transform: translateY(-20px);}
      to   { opacity: 1; transform: translateY(0px);}
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; transform: translateY(-20px);}
      to   { opacity: 1; transform: translateY(0px);}
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; transform: translateY(-20px);}
      to   { opacity: 1; transform: translateY(0px);}
  }

}





