<%= <h3>'Welcome''#{user.first_name}'</h3> %>
<%= <h3> '#{user.email}'%>

<%#= if  @volunteer_completed_missions.count == (1..5) %>
<%#= <image_tag(".png")> %>
<%#= elsif @volunteer_completed_missions.count == (5..10) %>
<%#= <image_tag(".png")> %>
<%#= elsif @volunteer_completed_missions.count == (10..20) %>
<%#= <image_tag(".png")> %>
<%#= elsif @volunteer_completed_missions.count == (20..30) %>
<%#= <image_tag(".png")> %>
<%#= else @volunteer_completed_missions.count == (0) %>
<%#= end %>
