<% mission.each do |booking| %>
<div class="col-md-12">
  <div class="card-body">
     <p class="card-text">
        <h4 class="purple"><%= booking.mission.title.capitalize %></h4>
         <%= booking.mission.start_date.strftime("%d/%m/%Y") %>

      </p>
  </div>
<% end %>
