<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/PriyaXY/iGive"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/igive.2020/"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/iGive19"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
   <i class="fas fa-copyright"></i> 2020 Igive Community
  </div>
</div>

