<div class="container my-4 text-center">

 <div class="container px-2 pt-2 pb-5">
    <h2 class="mt-0 mb-4">Volunteers <strong>connect</strong> through iGive...</h2>
     <div class="row d-flex justify-content-center">
         <div class="col-lg-5 col-md-7 col-sm-9 ">
             <div id="carouselExampleIndicators" class="carousel slide d-flex" data-ride="carousel">
                 <ol class="carousel-indicators">
                     <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                 </ol>
                 <div class="carousel-inner">
                     <div class="carousel-item">
                         <div class="card border-0 ">
                             <div class="card-header-testimonial"></div>
                             <div class="card-body text-center "><img class="img-1 img-fluid" src="https://i.imgur.com/nUNhspp.jpg">
                                 <div class="quotes"><img class="quotes-img card-title" src="https://i.imgur.com/Gfbinmw.jpg" />
                                     <p class="card-text bold text-center px-md-3 intro">If you’re feeling isolated or out on a limb, volunteering is the best way to plug in and recharge. It helped me learn new skills and sharpen existing ones. </p>
                                     <h6 class="font-weight-bold mt-4">Andre - Volunteer @ Family Action</h6>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item active">
                         <div class="card border-0 ">
                             <div class="card-header-testimonial"></div>
                             <div class="card-body text-center "><img class="img-1 img-fluid" src="https://i.imgur.com/kkjs7EC.png">
                                 <div class="quotes"><img class="quotes-img card-title" src="https://i.imgur.com/Gfbinmw.jpg" />
                                     <p class="card-text bold text-center px-md-3 intro">Volunteering has given me insight into the issues people around me are facing. I’m really glad I can help in whatever small way.  </p>
                                     <h6 class="font-weight-bold mt-4">Katya - Volunteer @ Bay Tree Centre</h6>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="card border-0 ">
                             <div class="card-header-testimonial"></div>
                             <div class="card-body text-center "><img class="img-1 img-fluid" src="https://i.imgur.com/At1IG6H.png">
                                 <div class="quotes"><img class="quotes-img card-title" src="https://i.imgur.com/Gfbinmw.jpg" />
                                     <p class="card-text bold text-center px-md-3 intro">I’m really enjoying volunteering. It’s made me realise what I’d like to do with my life and career.</p>
                                     <h6 class="font-weight-bold mt-4">Tarquin - Volunteer @ Bookmark</h6>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
