
<h2>My Pending missions</h2>


<%#= link_to 'accept booking', accept_booking_path(booking: booking), class: "btn btn-primary %>

<!-- <h4><%#= mission.name.capitalize %></h4>
<p>Starting on <%#= mission.start_date.strftime("%d/%m/%Y") %></p>
    <%#= link_to 'Edit your mission', edit_mission_path(mission) %>
    <%#= link_to "Delete mission", mission_path(mission),
        method: :delete,
        data: {confirm: "are you sure"} %>
</div>
<%# end %> -->

<!--

case 1. dashboard for user with charity
- can edit charity information
- can see accepted / rejected missions
- can see pending missions


case 2. dashboard for user without charity
-
-
-
-

 -->
