
<div class="container">

<% if current_user.charity.nil? %>
   <%= render "shared/volunteer_dashboard", pending_volunteer_missions: @pending_volunteer_missions, accepted_volunteer_missions: @accepted_volunteer_missions, volunteer_completed_missions: @volunteer_completed_missions %>
<% else %>
  <%= render "shared/charity_dashboard"%>
<% end %>

 <%= link_to 'Post new mission', new_mission_path, class: "btn btn-sm btn-primary"%>
</div>
