.user-avatar{
  text-align:center;
  background: white;
  border:solid 1px #ccc;
  padding:0.8em ;
  border-radius:1em;
}

.user-avatar h4{
  margin-bottom:15px;
}

.user-avatar a{
  display:inline-block;
  overflow:hidden;
  height:49px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

/* shown on top navbar - all pages */


.avatar-navbar{

  text-align:right;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items:center;
  font-size:0.9em;
}

.avatar-navbar-wrap{
  overflow:hidden;
  height:45px;
}

.avatar-navbar img{
  width:52px;
}



