.carousel-item {
  height: 75vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  opacity:0.7;

}

.carousel-text{
  width:30%;
  margin:2em auto;
  font-size:5em;
  padding:0.3em;
  // color:#799351;
  // background:#799351;
  opacity:0.8;
  border-radius: 0.2em;
}

