
.index-card-container {
  overflow: hidden;
  height: 120px;
  width: 100% ;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  margin: 8px auto;
  font-size: 10px;
}

.index-card-container-urgent {
  overflow: hidden;
  height: 120px;
  width: 100% ;
  background: white;
  box-shadow: 0 0 10px #D54062;
  display: flex;
  flex-direction: row;
  margin: 8px auto;
  font-size: 10px;
}
// .index-card-image {
//   width: 120px;
//   & img {
//     width: 120px;
//     height: 100%;
//     object-fit: cover;
//   }
// }
.card-text-orange {
  color: #F2A16B;
  text-shadow: 0 0 1px rgba(0,0,0,0.2)
}

.text-card-pink {
  color: #D54062;
  text-shadow: 0 0 1px rgba(0,0,0,0.2)
}
.card-image {
  width: 120px;
  // height: 100%;
  height: 120px;
  object-fit: cover;
}

.index-card-main-info-urgent {
  line-height: 1px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2px;
  margin-left: 24px;
  color: #D54062;
  & h3 {
    font-size: 12px;
    font-style: bold;
  }
}


.index-card-main-info {
  line-height: 1px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2px;
  margin-left: 24px;
  color: #F2A16B;
  & h3 {
    font-size: 12px;
    font-style: bold;
  }
}

.index-icon {
  margin-top: 1px;
}

.index-card-button {
  color: white;
  font-size: 10px;
  margin-top: 8px;
}

.index-apply-button {
  font-size: 10px;
  margin-bottom: 0;
  margin-right: 2px;
  color: white;
}

.index-urgent-button {
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 2px;
  color: white;
}


/* all missions page */

.index-card-image img{
  width:120px;
  height:120px;
}

