
.index-card-container {
  overflow: hidden;
  height: 180px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  margin: 8px auto;
  font-size: 10px;
}

.index-card-container-urgent {
  overflow: hidden;
  height: 180px;
  width: 100% ;
  background: white;
  box-shadow: 0 0 10px #D54062;
  // border: 3px solid #D54062;
  display: flex;
  flex-direction: row;
  margin: 8px auto;
  font-size: 10px;
}
.index-card-container img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.index-card-container-urgent img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.index-card-text {
  padding-bottom: 8px;
  padding-top:6px;
}

.index-card-image{
  margin-right:8px;
}

.index-card-main-info ul {
  list-style-type: none;
  padding-left:0;
  margin-bottom:10px;
}

.index-card-main-info a {
  font-size: 16px;
  color: #799351;
  font-style: bold;
  overflow: hidden;
  & p {
    margin-bottom:0px;
  }
}
.index-card-extra-info-urgent {
  text-align: left;
}

.index-card-title-urgent {
  color:#D54062;
}

.index-card-extra-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-icon {
  margin-top:10px;
}

.index-apply-button {
  font-size: 10px;
  margin-bottom: 0;
  margin-right: 2px;
}

.index-urgent-button {
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 2px;
}

.missioncategoryselection .collection_check_boxes {
  margin-left: 8px;
  width: 120px;
}
