.mission-title{

}

.mission-title a{
  color:#D54062;
  text-decoration: none;
}

.mission-title a:hover {
  color:#e93a62;
}

.no-information{
  color:#aaa;
  font-size:1.2em;
}

.warning{
  color: white;
  background:#FFA36C ;
  border-radius:2em;
  padding:0.5em 1em;
  width: 130px;
  text-align: center;
  font-size: 0.8em;
  animation: blinker 1s 2s linear 2;
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}


.warning-2{
  color: white;
  background:#D54062;
  border-radius:2em;
  padding:0.5em 1em;
  width: 130px;
  text-align: center;
  font-size: 0.8em;
  animation: blinker 2s 3s linear 3;
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

.mission-pending a{ color:#FFA36C ;}
.mission-upcoming a { color:#D54062;}
.mission-completed a{ color:#799351;}



