.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer-mobile-navbar{
  display:none;
}


/* navbar for mobile  */

@media (min-width: 100px) and (max-width: 575px) {
  .navbar-collapse{
    display:none;
  }

 .footer-mobile-navbar{
    display:flex;
    flex-direction: row;
    background:#D54062;
    background: linear-gradient(0deg, rgba(233,90,122,1) 9%, rgba(213,64,98,1) 100%);
    padding:15px 6px;
    justify-content:center;

    -webkit-box-shadow: 0px -1px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -1px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -1px 10px rgba(50, 50, 50, 0.75);
  }

  .mr-auto, .mx-auto {
    margin-right: auto !important;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content:center;
    align-items:stretch;
  }

  .nav-item{
    margin:0 1em;
    text-align:center;
  }

  .nav-item a{
    color:#fff;
    padding-top:0;
    padding-bottom:0;
    text-align:center;
  }

  .nav-item p{
    margin-bottom:0;
  }

  .footer-mobile-navbar i.fas, .footer-mobile-navbar i.far{
    color:white;
    padding-right:6px;
    font-size:2em;
    line-height:0.8em;
  }


}




